.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: white;
}

.info-span {
  color: white;
  font-size: 12px;
}


button, .searchbar-header {
  background-color: #282c34;
  color: #41bae2;
  border: none;
}

button:hover{
  cursor: pointer;
}

.open-button {
  background-color: #FFFAE0;
  color: black;
}


.my-map-container {
  width:75%;
  height:800px;
}

.hidden-menu-map {
  animation-name: fullsize;
  animation-duration: .5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  height:800px;
  position:fixed;
  right: 0;
}

.hidden-menu {
  animation-name: hide;
  animation-duration: .5s;
  animation-direction: alternate;
  animation-fill-mode: both;
}

.Menu {
  width: 25%;
  height: auto;
  background-color: #282c34;
}

.Menu-item {
  color: #41bae2;
}

ul {
  list-style-type: none;
  padding: 0;
}


#hamburger{
  display: none;
  z-index: 7;
  position: absolute;
  height: 40px;
  width: 45px;
  border-radius: 10%;
  border: 1px solid  #41bae2;
  padding-top: 1px;
}

.visible-menu-hamburger{
  left: 28%;
  top: 10%;
}

.hidden-menu-hamburger {
  animation-name: burgerslide;
  animation-duration: .5s;
  animation-fill-mode: forwards;

  /* left: 3%;
  top: 9%; */
}



@media only screen and (max-width: 675px) {
  h1{
    font-size: 1em;
  }
  #hamburger{
    display: block;
  }
}

@keyframes hide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fullsize {
  from {
    width: 65%;
  }
  to {
    width: 100%;
  }
}

@keyframes burgerslide {
  from {
    left: 28%;
    top: 10%;
  }
  to {
    left: 3%;
    top: 9%;
  }
}
