.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 900px;
  background-color: #282c34;
}

/* #header-menu-container{
  width:25%;
  height: auto;
} */

h1 {
  color: white;
}

@media only screen and (max-width: 675px) {

  .login-text {
    position: fixed;
    right: 3%;
    top: 3%;
  }

  .App {
    flex-direction: row;
  }

  h1 {
    margin-bottom: 0;
  }

}
