.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: white;
}

.info-span {
  color: white;
  font-size: 12px;
}


button, .searchbar-header {
  background-color: #282c34;
  color: #41bae2;
  border: none;
}

button:hover{
  cursor: pointer;
}

.open-button {
  background-color: #FFFAE0;
  color: black;
}


.my-map-container {
  width:75%;
  height:800px;
}

.Menu {
  width: 25%;
  height: auto;
  background-color: #282c34;
}

.Menu-item {
  color: #41bae2;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 675px) {
  .Menu {
    width: 35%;
  }
  .my-map-container {
    width: 65%;
  }
}
